body {
    font-family: sans-serif;
    font-size: 22px;
    height: 100%;
    width: 100%;
    padding:0;
    margin: 0;
}

input {
    position: relative;
    border: dotted 3px #0033CC;
    border-radius: 10px;
    font-size: 40px;
    padding: 0.25em;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}
#instructions {
    z-index: 1;
    padding: 20px 30px;
    background: #FFF;
    background: rgba(255,255,255,0.5);
    margin: 0;
}
#sequence_container {
    z-index: 0;
    position: fixed;
    height: 100%;
    max-height: 1200px;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
}
#objects, #animations {
    position: absolute;
    height: 100%;
    width: 100%;
}
#mask {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}
#popup {
    display: none;
    position: absolute;
    height: auto;
    width: auto;
    border: solid 1px #000;
    border-radius: 10px;
    background-color: #FFF;
    padding: 20px 60px;
    text-align: center;
}
#popup * {
    margin: 0;
    padding: 0;
}
#cut_scene {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba(0,0,0,0.8);
}
#cut_scene_images {
    height: 100%;
    width: 100%;
}
.cutscene_2 {
    background: url('../images/cutsceneCoyoteSmile.png');
    background-repeat: no-repeat;
}
.cutscene_3 {
    background: url('../images/cutscene3.png');
    background-repeat: no-repeat;
}
.scene_1 {
    background: url('../images/bg1.png');
    background-repeat: no-repeat;
}
.scene_2 {
    background: url('../images/bg2.png');
    background-repeat: no-repeat;
}
.scene_3 {
    background: url('../images/bg3.png');
    background-repeat: no-repeat;
}
.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%; 
    
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 100px;
    text-align: center;
    color: #FFF;
    background: black;
}
.footer button {
    float:right;
    padding: 25px;
    font-weight: bold;
}